@model AktuarieAppar.Pages.NSS.IndexModel

<table class="table">
    <thead>
        <tr>
            <th>
                Dur
            </th>
            <th>
                DF
            </th>
            <th>
                ZC
            </th>
            <th>
                Forward
            </th>
            <th>
                WForward 
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var d in Model.debugDur)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => d)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.debugDF[d - 1])
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.debugZC[d - 1])
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.debugForward[d - 1])
                </td>
                <td>
                    @Html.DisplayFor(modelItem => Model.debugWeightedForward[d - 1])
                </td>
            </tr>
        }
    </tbody>
</table>







