@page
@model AktuarieAppar.Pages.NSS.LabanModel

@{
    ViewData["Title"] = "Laban";
}

    <p>
        SELECT *
        FROM LABAN.dbo.NSSParametrar
        WHERE Grunder = 'PRES' AND KurvNamn IN ('TJP1', 'PRIV1')
    </p>


<h3>aktuarie01</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NssParametrar01[0].Grunder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NssParametrar01[0].FromDate)
            </th>
            <th>
                Namn
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NssParametrar01[0].Betha0)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NssParametrar01[0].Betha1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NssParametrar01[0].Betha2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NssParametrar01[0].Betha3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NssParametrar01[0].Tao0)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NssParametrar01[0].Tao1)
            </th>
            <th>
                T
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NssParametrar01[0].RelativeTax)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.NssParametrar01)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Grunder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FromDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KurvNamn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Betha0)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Betha1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Betha2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Betha3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tao0)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tao1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TKonst)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RelativeTax)
                </td>
            </tr>
        }
    </tbody>
</table>


<h3>amfsql2</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NssParametrar[0].Grunder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NssParametrar[0].FromDate)
            </th>
            <th>
                Namn
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NssParametrar[0].Betha0)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NssParametrar[0].Betha1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NssParametrar[0].Betha2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NssParametrar[0].Betha3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NssParametrar[0].Tao0)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NssParametrar[0].Tao1)
            </th>
            <th>
                T
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NssParametrar[0].RelativeTax)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.NssParametrar)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Grunder)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FromDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.KurvNamn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Betha0)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Betha1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Betha2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Betha3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tao0)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tao1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TKonst)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RelativeTax)
                </td>
            </tr>
        }
    </tbody>
</table>

<p>
    <a asp-page="/NSS/Index">Back to NSS</a>
</p>