@page
@model AktuarieAppar.Pages.TAT.IndexModel

@{
    ViewData["Title"] = "TAT";
}


<form>
    <p>
        Datum:
        <select asp-for="TATDate" asp-items="Model.TATDates" onchange="submit();"></select>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th class="text-left">
                Tillgångsslag
            </th>
            <th class="text-right">
                Marknadsvärde
            </th>
            <th class="text-right">
                Avkastning SEK YTD
            </th>
            <th class="text-right">
                Periodavkastning<sup>*</sup>
            </th>
        </tr>
    </thead>
    <tbody align="right">
        @foreach (var item in Model.Avkastningar)
        {
            <tr>
                <td align="left">
                    @Html.DisplayFor(modelItem => Model.AssetNameMap[item.NodeName])
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MarketValueUB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReturnSekYtd)
                </td>
                <td>
                    @(Model.PeriodAvkastningar.Where(p => p.ToDate == item.ToDate && p.NodeName == item.NodeName)
                .Select(p => p.ReturnSekPeriod)
                .FirstOrDefault())
                </td>
            </tr>
        }
        <tr style="font-weight:bold">
            <td align="left">
                Sum
            </td>
            <td>
                @Model.TotalAvkastningar.Where(t => t.ToDate == Model.TATDate).Select(t => t.MarketValueUB).FirstOrDefault()
            </td>
            <td>
                @Model.TotalAvkastningar.Where(t => t.ToDate == Model.TATDate).Select(t => t.ReturnSekYtd).FirstOrDefault()
            </td>
            <td>
                @Model.PeriodAvkastningar.Where(t => t.ToDate == Model.TATDate).Select(t => t.ReturnSekPeriod).Sum()
            </td>
        </tr>
    </tbody>
</table>
<p>*Avkastning.YTD[@Model.TATDate.ToShortDateString()] - Avkastning.YTD[föregående månadsslut]</p>

@if (!Model.AvkastningUtdelad)
{
<form method="POST">
    <input type="hidden" value=@Model.TATDate name="TATDate" />
    @for (int i = 0; i < Model.PeriodAvkastningar.Count(); i++)
    {
        @Html.HiddenFor(m => m.PeriodAvkastningar[i].ToDate)
        @Html.HiddenFor(m => m.PeriodAvkastningar[i].NodeName)
        @Html.HiddenFor(m => m.PeriodAvkastningar[i].ReturnSekPeriod)
        @Html.HiddenFor(m => m.PeriodAvkastningar[i].InsertDate)
    }
    <button type="submit" style="color:red">INSERT</button> periodens avkastning i DW_Aktuarie.Avkastning
</form>
}
<br />
<h3>
    Total Avkastning
</h3>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Avkastningar[0].ToDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Avkastningar[0].MarketValueUB)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Avkastningar[0].ReturnSekYtd)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TotalAvkastningar)
        {
            <tr>
                <td>
                    @item.ToDate.ToShortDateString()
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MarketValueUB)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReturnSekYtd)
                </td>
            </tr>
        }
    </tbody>
</table>



<br />
<h3>
    DISCLAIMER: Otestade appar under utveckling
    <span style="color:Tomato;"> ABSOLUTELY NO WARRANTY</span> ¯\_(ツ)_/¯
</h3>
<h3>TODO</h3>

<p>- Refactoring</p>
<p>- Refactoring</p>
<p>- Full precision/pretty display</p>
<p>- Kvalitetssäkra data</p>
<p>- Log till Splunk</p>
<p>- Code review .NET</p>
<p>- Användartest Aktuarie</p>
<p>- Parametrar i databas</p>
<p>- Hantering vid årsskifte</p>
<p>- Unit tests</p>
<p>- Consistencychecks</p>
<p>- Exceptions</p>
<p>- Automatisk laddning DW-1889</p>
<p>- async</p>
