@page
@model AktuarieAppar.Pages.TAT.PeriodAvkastningModel
@{
    ViewData["Title"] = "TAT";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>TAT</title>
</head>
<body>
    <h2>@Model.InsertMessage</h2>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Avkastningar[0].ToDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Avkastningar[0].NodeName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Avkastningar[0].ReturnSekPeriod)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Avkastningar[0].InsertDate)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Avkastningar)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ToDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NodeName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReturnSekPeriod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.InsertDate)
                </td>
            </tr>
            }
        </tbody>
    </table>
</body>
